/* 
    Document   : testcase.css
    Created on : April 16, 2008, 8:12 PM
    Author     : lwaisanen
*/

root 
{ 
    display: block;
}

BODY 
{
   font-family: arial,helvetica,sans-serif; 
   font-size: 10pt;
   color: #000860;
   height: 100%;
   padding: 0;
   margin: 8px;
   background: #e0f0e0; 
}

@media screen
{
   div.topband
   {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 60px;
      background: #e0f0e0;
   }
   div.logodiv
   {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
   }
   div.versdiv
   {
      padding: 0;
      margin: 0;
      float: right;
      width: 10%;
   }
   div.leftband
   {
      position: absolute;
      left: 0;
      top: 60px;
      padding: 0;
      margin: 0;
      width: 116px;
      background: #e0f0e0; 
   }

   div.rightband
   {
      position: absolute;
      right: 0;
      top: 60px;
      padding: 0;
      margin: 0;
      width: 48px;
      background: #e0f0e0; 
   }

   div.centerband
   {
      position: absolute;
      top: 60px;
      left: 116px;
      right: 48px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      background: #f0fff0; 
   }
}

@media print
{
   div.leftband
   {
      display: none;
   }

   div.rightband
   {
      display: none;
   }

   div.centerband
   {
      width: 100%;
      padding: 0;
   }
}

label.hidden
{
   position: absolute;
   left: 0px;
   top: -500px;
   width: 1px;
   height: 1px;
   overflow: hidden;
} 

div.btnlist
{
   padding: 0;
   margin: 2em 0 0 1em;
}
img.btnimg
{
   margin: 1em 0 0 0;
}

div.banner
{
   background: #e0f0e0; 
   height: 30px;
}

h1
{
   margin: 0;
   padding: 0;
   font-size: 14pt;
   font-weight: bold; 
   font-style: normal; 
   text-align: center;
}

h2
{
   margin: 0;
   font-size: 10pt;
   font-weight: bold; 
   font-style: normal; 
   text-align: center;
}

p.verstxt
{
   float: left; 
   margin: 0 8px 0 0;
   padding: 0;
   text-align: center; 
   font-size: 8pt;
   font-weight: normal; 
   font-style: normal; 
}

input, select, textarea
{
   font-family: arial,helvetica,sans-serif; 
   font-size: 10pt;
}

textarea.txtblock
{
   width: 95%;
   height: 100px;
   margin: 4px 16px 4px 16px;
   padding: 0;
}

div.pickdiv
{
   border-width: 2px;
   border-style: solid;
   border-color:  #9090a0;
   padding: 8px 8px 8px 8px; 
}

div.tablediv
{
   border-width: 2px;
   border-style: solid;
   border-color:  #9090a0;
   padding: 0 0 0 0; 
}

table.result
{
   border-width: 2px;
   border-style: solid;
   border-color:  #9090a0;
   border-collapse: collapse;
   padding: 0;
   margin: 0; 
   width: 100%;
}

table.midtitle
{  border-bottom: 2px solid #DEDEDE;
   border-top: 2px solid #DEDEDE;
   border-collapse: collapse;
   padding: 0;
   margin: 0; 
   width: 100%;
}

div.searchres
{
   margin: 8px 0px 8px 0px;
}

table.picktbl
{
   border-collapse: collapse;
   width: 100%;
}

th.picktbl
{
   color: #000860; 
   padding: 8px 8px 0 0;
   text-align: right; 
   font-weight: bold; 
   width: 20%;
}

td.pickdata
{
   color: #000860; 
   padding: 8px 8px 0 0;
   text-align: left; 
   font-weight: bold; 
   width: 20%;
}

td.picktbl
{
   color: #000860; 
   padding: 8px 0 0 8px;
   text-align: left; 
   font-weight: normal; 
   width: 30%;
}

th.result
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: center; 
   font-weight: bold; 
}

td.result
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: left; 
   font-weight: normal; 
}

td.resultnum
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: right; 
   font-weight: normal; 
   width: 15%;
}

td.testpass
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   background: #d0f0d0; 
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: left; 
   font-weight: normal; 
}

td.testfail
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   background: #f0d0d0; 
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: left; 
   font-weight: normal; 
}

td.testnone
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   background: #f0f0f0; 
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: left; 
   font-weight: normal; 
}
td.subtitle
{
   color: #808080; 
   padding: 2px 8px 2px 8px;
   text-align: center; 
   font-weight: bold; 
   border-bottom-style: solid;
   border-bottom-color: #003300;   
   border-bottom-width: 2px;
}

img.btnimg
{
   border: 0;
   vertical-align: middle;
}

.AgreeWarnDiv 
{
   color: #B02006; 
   font-weight: bold; 
   font-size: small;
   border-width: 2px;
   border-style: solid;
   border-color:  #B02006;
}

.BlbHead {color: #555577; font-weight: bold; font-size: small}

div.details
{
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   border-width: 2px;
   border-style: solid;
   border-color:  #9090a0;
}


dl.details
{
   padding: 2px 8px 2px 8px; 
   margin: 0 0 0 0;
}

dt.details
{
   color: #000860; 
   font-weight: bold; 
   font-size: small;
   margin: 1em 0 0 0;
}

dd.details
{
   color: #000860; 
   font-weight: normal; 
   font-size: small;
   margin: 8px 0 0 2em;
}

dl.factdesc
{
   padding: 2px 8px 2px 8px;
}

p.factlabel
{
   color: #000860; 
   font-weight: bold; 
   font-size: small;
/*   margin: 1em 0 0 0; */
}

p.pwexpire
{
   color: #006008; 
   font-weight: bold; 
   font-size: small;
}

p.facttext
{
   color: #000860; 
   font-weight: normal; 
   font-size: small;
/*   margin: 8px 0 0 2em; */
}

table.factors
{
   border-collapse: collapse;
}

th.factors
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: center; 
   font-weight: bold; 
}

td.factors
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 2px 2px 2px;
   text-align: center; 
   font-weight: normal; 
}

td.edits
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 0 0 0 0;
   text-align: center; 
   font-weight: normal; 
}

th.subblock
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: right; 
   font-weight: bold; 
}

td.subblock
{
   border-width: 1px;
   border-style: solid;
   border-color:  #9090a0;
   color: #000860; 
   padding: 2px 8px 2px 8px;
   text-align: left; 
   font-weight: normal; 
}

th.logrowhead
{
   color: #000860; 
   padding-right: 8px;
   text-align: right; 
   font-weight: bold; 
}

th.logcolhead
{
   color: #000860; 
   text-align: left; 
   font-weight: bold; 
}

li
{
   margin:  8px 0 0 0;
}

dt.workhist
{
   color: #000860; 
   font-weight: bold; 
   font-size: small;
   margin: 1em 0 0 0;
}

dd.workhist
{
   color: #000860; 
   font-weight: normal; 
   font-size: small;
   margin: 1em 0 0 0;
}

p.ResName
{
   margin: 1em 0 0 0;
   padding: 0;
   font-size: 14pt;
   font-weight: bold; 
   font-style: normal; 
   text-align: left;
}

p.ResSectHead
{
   margin: 1em 0 0 0;
   padding: 0;
   font-size: 12pt;
   font-weight: bold; 
   font-style: normal; 
   text-align: left;
}

p.ResSectDetail
{
   margin: 0 0 0 1em;
   padding: 0;
   font-size: small;
   font-weight: normal; 
   font-style: normal; 
   text-align: left;
}
.button
{        
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.button:focus
{
	outline: 0;
	background: #fafafa;
}    

.button:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before
{
	content: "\271A";
}

.edit:before
{
	content: "\270E";        
}

.delete:before
{
	content: "\2718";        
}

.save:before
{
	content: "\2714";        
}

.email:before
{
	content: "\2709";        
}

.like:before
{
	content: "\2764";        
}

.next:before
{
	content: "\279C";
}

.star:before
{
	content: "\2605";
}

.spark:before
{
	content: "\2737";
}

.play:before
{
	content: "\25B6";
} 

table.data
{
  font-size: 8pt;
  font-family: Arial, Verdana, Tahoma, sans-serif;
  width: 100%;
}

td.legend, th.legend
{
  color: #FFFFFF;
  background-color: #6699CC;
  vertical-align: top;
  padding: 5px;
}


table.data thead
{
  color: #FFFFFF;
  background-color: #6699CC;
  vertical-align: top;
  padding: 5px;
  font-family : Arial,Helvetica,Sans-Serif;
  font-size: 8pt;
}


th.smallheading
{
  color: #FFFFFF;
  background-color: #6699CC;
  vertical-align: top;
  padding: 5px;
  font-family : Arial,Helvetica,Sans-Serif;
  font-size: 7pt;
}
td.titlelight
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 11pt;
  color: #000860;
  vertical-align: top;
  padding: 8px 8px 0 0;
  font-weight: 500;
  text-align: right;
  background-color: #aad4aa;
}

td.title
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 11pt;
  color: #000860;
  
  vertical-align: top;
  padding: 8px 8px 0 0;
  font-weight: bold;
  text-align: right;
  background-color: #aad4aa;
}

td.titleinfo
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 12pt;
  color: #000860;
  vertical-align: top;
  padding: 8px 8px 0 0;
  font-weight: 500;
  text-align: left;
  background-color: #aad4aa;
}

td.midtitleleft
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  color: #BEBEBE; 
  vertical-align: top;
  padding: 4px 4px 0 0;
  font-weight: bold;
  text-align: left;
 
}

td.titleleft
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 12pt;
  color: #000860;
  vertical-align: top;
  padding: 8px 8px 0 0;
  font-weight: bold;
  text-align: left;
  background-color: #B2D8B2;
}

td.restitleleft
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 12pt;
  color: #000860;
  
  vertical-align: top;
  padding: 8px 8px 0 0;
  font-weight: bold;
  text-align: left;
  background-color: #B2D1F0;
}

td.detailtitle
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 14pt;
  background-color: #6699CC;
  vertical-align: top;
  padding: 5px;
  font-weight: bold;
}

td.lockedtitle
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  color: #FFFFFF;
  background-color: #6699CC;
  vertical-align: top;
  font-weight: bold;
  padding: 5px;
  font-size: 10pt;
}

td.requiredtitle
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #FF0000;
  background-color: #6699CC;
  vertical-align: top;
  padding: 5px;
  font-weight: bold;
}

td.titlenopad
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #6699CC;
  vertical-align: top;
  padding: 0px;
  font-weight: bold;
}

td.printtitle
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  color: #FFFFFF;
  background-color: #666666;
  vertical-align: top;
  padding: 5px;
  font-weight: bold;
  font-size: 10pt;
}

td.label {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #C0C0C0;
}

td.labelnopad
{
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #C0C0C0;
  padding: 0px;
  vertical-align: top;
}

td.requiredlabel {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #FF0000;
  background-color: #C0C0C0;
}

td.labelbold {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #C0C0C0;
  font-weight: bold;
}

td.label a {
  color: #0000FF;
  background-color: inherit;
  text-decoration: none;
}

td.label-mouseover {
  color: #FFFFFF;
  background-color: #000099;
}

td.label-mouseover a {
  color: #FFFFFF;
  background-color: inherit;
  text-decoration: none;
}

td.field {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  color: #000000;
  
}
td.fldlabel {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  color: #000000;
  font-weight: bold;
  text-align: right;
}
td.fldlabelleft {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  color: #000000;
  font-weight: bold;
  text-align: left;
}
td.detailfield {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #EEEEEE;
}

td.fieldaligntop {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #EEEEEE;
  Vertical-Align: top;
}

td.labelaligntop {
  color: #000000;
  background-color: #C0C0C0;
  Vertical-Align: top;
}


td.requiredfield {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #FF0000;
  background-color: #EEEEEE;
}

td.printfieldlabel {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #EEEEEE;
  font-weight: bold;
  font-style: italic;
}

td.fieldcenter {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #EEEEEE;
  text-align: center;
}

.textareastylegray
{
  color: #000000;
  background-color: #EEEEEE;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: Arial, sans-serif;
}

.textareastylewhite
{
  color: #000000;
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: Arial, sans-serif;
}


.disabledfield {
  color: #666666;
  background-color: #DDDDDD;
}

.buttonrow {
  color: #000000;
  background-color: #6699CC;
}

td.field a {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #0000FF;
  background-color: inherit;
}

td.error {
  color: #CC3333;
  background-color: inherit;
}

td.required {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  color: #CC3333;
  background-color: inherit;
  font-weight: bold;
}

table.data td.base {
  background-color: #6699CC;
  height: 1px;
}

p.error {
  color: #FF0000;
}

p.closing {
  text-align: center;
  font-weight: bold;
}
